<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>bd/07.png</key>
		<dict>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>33</integer>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>33</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/08.png</key>
		<dict>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>26</integer>
			<key>originalWidth</key>
			<integer>19</integer>
			<key>originalHeight</key>
			<integer>26</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/13.png</key>
		<dict>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>94</integer>
			<key>originalWidth</key>
			<integer>126</integer>
			<key>originalHeight</key>
			<integer>94</integer>
			<key>x</key>
			<integer>73</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/05.png</key>
		<dict>
			<key>width</key>
			<integer>11</integer>
			<key>height</key>
			<integer>8</integer>
			<key>originalWidth</key>
			<integer>11</integer>
			<key>originalHeight</key>
			<integer>8</integer>
			<key>x</key>
			<integer>21</integer>
			<key>y</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/06.png</key>
		<dict>
			<key>width</key>
			<integer>11</integer>
			<key>height</key>
			<integer>10</integer>
			<key>originalWidth</key>
			<integer>11</integer>
			<key>originalHeight</key>
			<integer>10</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/02.png</key>
		<dict>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>51</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/03.png</key>
		<dict>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>x</key>
			<integer>201</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/04.png</key>
		<dict>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>41</integer>
			<key>originalWidth</key>
			<integer>52</integer>
			<key>originalHeight</key>
			<integer>41</integer>
			<key>x</key>
			<integer>201</integer>
			<key>y</key>
			<integer>43</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/10.png</key>
		<dict>
			<key>width</key>
			<integer>31</integer>
			<key>height</key>
			<integer>34</integer>
			<key>originalWidth</key>
			<integer>31</integer>
			<key>originalHeight</key>
			<integer>34</integer>
			<key>x</key>
			<integer>34</integer>
			<key>y</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/01.png</key>
		<dict>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>66</integer>
			<key>originalWidth</key>
			<integer>66</integer>
			<key>originalHeight</key>
			<integer>66</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/11.png</key>
		<dict>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>30</integer>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>30</integer>
			<key>x</key>
			<integer>53</integer>
			<key>y</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/12.png</key>
		<dict>
			<key>width</key>
			<integer>11</integer>
			<key>height</key>
			<integer>30</integer>
			<key>originalWidth</key>
			<integer>11</integer>
			<key>originalHeight</key>
			<integer>30</integer>
			<key>x</key>
			<integer>68</integer>
			<key>y</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/19.png</key>
		<dict>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>138</integer>
			<key>originalWidth</key>
			<integer>51</integer>
			<key>originalHeight</key>
			<integer>138</integer>
			<key>x</key>
			<integer>81</integer>
			<key>y</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/09.png</key>
		<dict>
			<key>width</key>
			<integer>23</integer>
			<key>height</key>
			<integer>25</integer>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>25</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>186</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/14.png</key>
		<dict>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>77</integer>
			<key>originalWidth</key>
			<integer>96</integer>
			<key>originalHeight</key>
			<integer>77</integer>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/15.png</key>
		<dict>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>57</integer>
			<key>originalWidth</key>
			<integer>80</integer>
			<key>originalHeight</key>
			<integer>57</integer>
			<key>x</key>
			<integer>134</integer>
			<key>y</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/17.png</key>
		<dict>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>64</integer>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>64</integer>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>186</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
		<key>bd/shadow.png</key>
		<dict>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>35</integer>
			<key>originalWidth</key>
			<integer>92</integer>
			<key>originalHeight</key>
			<integer>35</integer>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>0</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>0</integer>
		<key>textureFileName</key>
		<string>role-bd0.png</string>
		<key>realTextureFileName</key>
		<string>role-bd0.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
	</dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
